.DS_Store

Thumbs.db

.bloop
.class
.editorconfig
.eslintignore
.eslintrc.js
.idea
.metals
.stylelintrc
.vscode
.bsp
*.sublime*
*.ai
*.log
*.pdf
*.psd
*.jar
*.class
*.swp
npm-debug.*
*~
package-lock.json
qj
content/
node_modules/
materials/
dist/
xcode/
dist_copied/
sbt-dist/bin
target/
project/target/
project/.bloop/
project/project/
project/build.properties
project/metals.sbt
computers/slava/private/
package-lock.json
